.Blog{
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}
.PriceArticle {
    background: #004874;
    width: max-content;
    font-size: 1.2rem;
    padding-block: .5rem;
    border-radius: 5rem;
    padding-inline: 3rem;
    color: white;
}
.TitleArticle {
    font-size: 2rem;
    font-weight: 600;
    margin-block: 1rem;
}
.ArticlesContainer .ArticleCard .ArticleDetails {
    padding-inline: 3rem;
    padding-top: 2rem;
}
.DateArticle span{
    font-weight: 700;
    padding-right: 1rem;
    border-right: 1px solid black;
}
.DateArticle{
    font-size: 1.3rem;

}
.title .TitleDetailes p {
    color: #A06BC4 !important; 