:root{
    --secondColor : #1DAEFF;
    --FontSizeUpBar :  1.2rem ;
}

.ContactForm{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.FormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InputFormIndi{
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin-bottom: 18px;
}


.InputFormIndi input{
    height: 4.5rem;   
    font-size: 1.6rem;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;

}
.InputFormIndi textarea{
    resize: vertical;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.InputFormIndi label{
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 8px;
    
}
.InputFormIndi input[type="submit"]{
    height: auto;
    width: fit-content;
    padding-inline: 40px;
    padding-block: 12px;
    background-color: var(--secondColor);
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    transition: background-color .3s;
}
.InputFormIndi input[type="submit"]:hover{
    color: var(--secondColor);
    background-color: white;
    border: 1px solid var(--secondColor);

    
}